FRAPPE_IMAGE=registry.gitlab.com/zinger-teams/academia/frappe:frappe16-2026-08-06
IMAGE_TAG=frappe16-2026-08-06
PUBLIC_HOSTNAME=portal.catuc.org
SITE_NAME=portal.catuc.org

EDGE_NETWORK=edge
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=main-resolver
TRAEFIK_ENABLE=false
MIGRATE_SITES=true

SECRETS_DIR=/srv/apps/academia/frappe/secrets
GUNICORN_WORKERS=2
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=120
PROXY_READ_TIMEOUT=120
CLIENT_MAX_BODY_SIZE=50m
UPSTREAM_REAL_IP_ADDRESS=127.0.0.1/32